body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: whitesmoke;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.row {
    margin-bottom: 50px !important;
}

h2 {
    padding-bottom: 8px;
    margin-bottom: 30px;
    line-height: 1.75em;
}

.underline {
    padding-bottom: 8px;
    margin-bottom: 30px;
    line-height: 1.75em;
    border-width: 0 0 3px;
    border-style: solid;
}

p {
    font-weight: 300 !important;
    font-family: Roboto, sans-serif;
    color: #838383;
    font-size: 18px;
    font-style: normal;
    line-height: 1.56;
}

.jumbotron {
    border-radius: 0px !important;
}

.home-bg {
    background-image: url("/Content/images/home.jpg");
    background-size: cover;
    height: 500px;
}

.about-bg {
    background-image: url("/Content/images/about.jpg");
    background-size: cover;
    height: 500px;
}

.contact-bg {
    background-image: url("/Content/images/contact.jpg");
    background-size: cover;
    height: 500px;
}
