body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.row {
    margin-top: 50px !important;
    margin-bottom: 100px !important;
}

h2 {
    padding-bottom: 8px;
    margin-bottom: 30px;
    line-height: 1.75em;
    border-width: 0 0 5px;
    border-style: solid;
}

p {
    font-weight: 300;
    color: #838383;
    font-size: 18px;
    font-style: normal;
    line-height: 1.56;
}

.jumbotron {
    background-image: url("../img/jumbotron_bg.jpg");
    background-size: cover;
}
