
@{
    ViewBag.Title = "Index";
}

<h3 class="text-primary underline">Requesting Workers</h3>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Registration Form</h4>
    </div>
    <div class="panel-body">

    </div>
</div>

