@{
    ViewBag.Title = "About Us";
}
<h3 class="text-primary underline">@ViewBag.Title</h3>

<blockquote>
    <p class="text-justify">
        <strong>Virsagi</strong> is a Singapore registered company that has been involved in ther training
        and test of workers since 1998. <strong>Virsagi</strong> has several training centers in Dhaka and
        operates several BCA test centers.
    </p>
</blockquote>
    
<blockquote>
    <p class="text-justify">
        <strong>Virsagi</strong> has mobilized Bangladeshi workers for the market since 1988 and works with
        many Dhaka and Singapore Recruitment Agents. We are wholesale suppliers of Bangladeshi workers.
    </p>
</blockquote>

<div class="jumbotron">
    <h1>image</h1>
</div>
