@{
    ViewBag.Title = "About Us";
}
<h3 class="text-primary underline">@Virsagi.Web.Language.Resource.AboutUs</h3>

<blockquote>
    <p class="text-justify">@Virsagi.Web.Language.Resource.AboutUsContent1</p>
</blockquote>
    
<blockquote>
    <p class="text-justify">@Virsagi.Web.Language.Resource.AboutUsContent2</p>
</blockquote>

<div class="jumbotron about-bg"></div>
