@{
    ViewBag.Title = "Contact Us";
}
<h3 class="text-primary underline">@ViewBag.Title</h3>

<div class="jumbotron contact-bg"></div>

<blockquote>
    <p class="text-justify">
        Employers of Bangladeshi workers, Singapore LIcensed Employment Agents are welcome to
        browse this website. If you have an interest in employing workers from Bangladesh, please feel
        free to contact any of the Employment Agent listed below or make your enquiry by clicking
        <a href="mailto:virsagi.contact@gmail.com/"><strong> here.</strong></a>
    </p>
</blockquote>

<div class="row">
    <div class="col-md-6">
        <address>
            <strong>Bevertec Consltants Pte Ltd</strong><br />
            (Licence no. 01C5640)<br />
            KAH: Victor Lee<br />
            Mobile No: 9670 6145<br />
            Reg. No: R1105279<br />
            Email: sumedhalee@yahoo.com.sg
        </address>
    </div>

    <div class="col-md-6">
        <address>
            <strong>U-Connect Manpower</strong><br />
            (Licence no. 15C7596)<br />
            KAH: Shirley Goh<br />
            Mobile No: 9380 4519<br />
            Reg. No: R1105280<br />
            Email: shirleygoh.31@gmail.com
        </address>
    </div>
</div>