@{
    ViewBag.Title = "Home";
}

<div class="row jumbotron home-bg"></div>

<!--Notices-->
<div class="row">
    <h1 class="text-center">NEWS</h1>
    <div class="col-md-4">
        <h3 class="text-primary underline">New OTC Test Quota rules</h3>
        <p>
            From July 2018 test, each OTC can test 12 workers per trade, 
            with a max number of 100 workers tested per month.
        </p>
    </div>
    <div class="col-md-4">
        <h3 class="text-primary underline">New OTC Test Quota rules</h3>
        <p>
            From July 2018 test, each OTC can test 12 workers per trade,
            with a max number of 100 workers tested per month.
        </p>
    </div>
    <div class="col-md-4">
        <h3 class="text-primary underline">New OTC Test Quota rules</h3>
        <p>
            From July 2018 test, each OTC can test 12 workers per trade,
            with a max number of 100 workers tested per month.
        </p>
        <p><a class="btn btn-primary" href="mailto:virsagi.contact@gmail.com/">Enquire here &raquo;</a></p>
    </div>
</div>

<!--Steps-->
<div class="row">
    <h1 class="text-center">HOW THE PROGRAM WORKS</h1>
    <div class="col-md-3">
        <h2 class="text-primary text-center underline">STEP 1</h2>
        <p>
            Workers intending to work in Singapore must register their bios with any Dhaka Licensed Recruitment Agent.
        </p>
    </div>

    <div class="col-md-3">
        <h2 class="text-primary text-center underline">STEP 2</h2>
        <p>
            Dhaka Licensed Recruitment Agent will then register their workers on this website.
        </p>
        <p><a class="btn btn-primary" href="/RegisterWorkers">To Register, Click here &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h2 class="text-primary text-center underline">STEP 3</h2>
        <p>
            Website markets the workers to LIcensed Singapore Recruitment Agents/Employers.
        </p>
        <p><a class="btn btn-primary" href="RequestWorkers">To Request Workers, Click here &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h2 class="text-primary text-center underline">STEP 4</h2>
        <p>
            When IPAs are approved, website will coordinate with Dhaka Agent/S’pore 
            Agent or Employer to bring workers to Singapore.
        </p>
    </div>
</div>

<blockquote>
    <p class="text-justify">
        There is no cost involved. We have the largest pool of Dhaka Agents and
        complement the sourcing efforts of Singapore Employers/Employment Agencies.
        We also complement the marketing efforts of Dhaka Agents, once you register
        with us, you have access to a very large pool of Singapore Employers/Employment Agents.
    </p>
</blockquote>