@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Virsagi</h1>
</div>

<!--Notices-->
<div class="row">
    <h1 class="text-center">NEWS</h1>
    <div class="col-md-4">
        <h2 class="text-primary">New OTC Test Quota rules</h2>
        <p>
            From July 2018 test, each OTC can test 12 workers per trade, 
            with a max number of 100 workers tested per month.
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="text-primary">New OTC Test Quota rules</h2>
        <p>
            From July 2018 test, each OTC can test 12 workers per trade,
            with a max number of 100 workers tested per month.
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="text-primary">New OTC Test Quota rules</h2>
        <p>
            From July 2018 test, each OTC can test 12 workers per trade,
            with a max number of 100 workers tested per month.
        </p>
        <p><a class="btn btn-primary" href="mailto:virsagi.contact@gmail.com/">Enquire here &raquo;</a></p>
    </div>
</div>

<!--Steps-->
<div class="row">
    <h1 class="text-center">HOW THE PROGRAM WORKS</h1>
    <div class="col-md-4">
        <h2 class="text-primary text-center">Step 1</h2>
        <p>
            Workers intending to work in singapore must register their Bios with any dhaka Licensed Recruitment Agent.
        </p>
    </div>

    <div class="col-md-4">
        <h2 class="text-primary text-center">Step 2</h2>
        <p>
            Dhaka Licensed Recruitment Agent will then register their worker with this website. 
        </p>
        <p><a class="btn btn-primary" href="/RegisterWorkers">To Register, Click here &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2 class="text-primary text-center">Step 3</h2>
        <p>
            Website markets the workers to LIcensed Singapore Recruitment Agents/Employers.
        </p>
        <p><a class="btn btn-primary" href="RequestWorkers">To Request Workers, Click here &raquo;</a></p>
    </div>
</div>

<div class="row">
    <blockquote>
        <p>
            There is no cost involved. We have the largest pool of Dhaka Agents and
            complement the sourcing efforts of Singapore Employers/Employment Agencies.
            We also complement the marketing efforts of Dhaka Agents, once you register
            with us, you have access to a very large pool og Singapore Employers/Employment Agents.
        </p>
    </blockquote>
</div>