@model Virsagi.Web.ViewModels.WorkerRequestViewModel
@{
    ViewBag.Title = "Requesting Workers";
}

<h3 class="text-primary underline">@Virsagi.Web.Language.Resource.RequestWorkers</h3>

<blockquote>
    <p>@Virsagi.Web.Language.Resource.RequestWorkersContent</p>
</blockquote>

@if (Convert.ToInt16(TempData["isSuccess"]) == 1)
{
    <div class="alert alert-success" role="alert">Request received, we will be in contact shortly.</div>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>@Virsagi.Web.Language.Resource.OnlineFormSubmission</h4>
    </div>

    <div class="panel-body">
        @using (Html.BeginForm("Create", "Requestworkers", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                <div class="col-md-6">
                    <label>
                        <input type="radio" name="RequestType" value="1" checked /> I represent a Company
                    </label>
                </div>
                <div class="col-md-6">
                    <label>
                        <input type="radio" name="RequestType" value="1" /> I represent a Recruitment Agent
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label>Contact Person</label>
                    <input type="text" class="form-control" name="ContactPerson" />
                    @Html.ValidationMessageFor(model => model.ContactPerson)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label>Contact Number</label>
                    <input type="text" class="form-control" name="ContactNumber" />
                </div>
                <div class="col-md-6">
                    <label>Company UEN Number</label>
                    <input type="text" class="form-control" name="CompanyUENNumber" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label>Company Name</label>
                    <input type="text" class="form-control" name="CompanyName" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label>Email</label>
                    <input type="text" class="form-control" name="Email" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label>Manpower Request Details</label><br />
                    <textarea type="text" rows="3" class="form-control" name="Details"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label>Special Request</label>
                    <textarea type="text" rows="3" class="form-control" name="SpecialRequest"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-5 col-md-2">
                    <input type="submit" class="btn btn-primary btn-block" value="Submit Request" />
                </div>
            </div>
        }
    </div>
</div>

